<template>
    <div>
        <div class="wrapper">
            <div class="content-wrapper">
                <div>{{Error.errorCode}}</div>
                <p>{{Error.content}}</p>
            </div>
        </div>
        <img :src="getImgUrl(Error.image)" alt="">
    </div>

</template>

<script lang="ts">
import Vue from 'vue'
import {HttpErrors,GenericErrors} from '@/assets/data/data'
import {ErrorPageDetails} from '@/assets/data/data.model'
import {Component} from 'vue-property-decorator'
@Component({
    name:'Home'
})
export default class Home extends Vue {

    getImgUrl(pic: string) {
    try {
        return require('../assets/'+pic)
    }catch(error) {
        console.log(error)
    }
    }

    Error: ErrorPageDetails = {}

    created () {
        // Fetch errorType from route params and set state from data object!
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        const errorType: string | any = this.$route.query.errorType
        const errorCode = parseInt(errorType)
        if(isNaN(errorCode)){
            switch (errorType) {
                case "Maintaince":
                    this.Error = GenericErrors[1]
                    break;
                default:
                    this.Error = GenericErrors[0]
                    break;
            }
        }else {
            // We got http error
            const result = HttpErrors.filter((Error) =>  Error.errorCode == errorCode)
            if(result) {
                result[0].errorCode = `Error ${errorCode}!`
                this.Error = result[0]
                console.log(this.Error)
            }else {
                this.Error = GenericErrors[0]
            }
            
        }
   }

}
</script>
<style lang="scss" scoped>
.wrapper {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    background-image: url('../assets/Rectangle.png');
    display: flex;
    justify-content: center;
    
}
img {
        position: absolute;
        bottom: 0;
}
.content-wrapper {
    margin-top:200px;
    margin-left: 200px;
    color:white;
    width:550px;
    div {
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0.04em;
        font-weight: bold;
    };
    p {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.04em;
        font-weight: normal;
    }
}
</style>